In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("measurements.csv", index_col="index")

In [3]:
data

,x,y,iwconfig_essid,iwconfig_level,@@@777@@@,ASUS,Amg,DAISA,DAISA5GHZ,DIRECT-iR-BRAVIA,...,UPCFFE85FC,Vodafone-14D8,Vodafone-25ED,Vodafone-7726,Vodafone-8142,Vodafone-8161,Vodafone-8A74,Vodafone-DDCD,otto,szilvi
index,,,,,,,,,,,,,,,,,,,,,
0,48,19,Telekom-iU1HVB,207,177.0,NaN,NaN,NaN,NaN,NaN,...,NaN,176.0,NaN,NaN,167.0,185.0,NaN,200,NaN,189.0
1,41,82,Telekom-iU1HVB,215,183.0,NaN,NaN,NaN,NaN,NaN,...,184.0,NaN,NaN,NaN,NaN,177.0,NaN,197,NaN,181.0
2,41,141,Telekom-iU1HVB,217,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,185.0,NaN,191,NaN,190.0
3,40,205,Telekom-iU1HVB,204,NaN,NaN,NaN,179.0,168.0,NaN,...,NaN,NaN,NaN,174.0,NaN,190.0,NaN,198,NaN,179.0
4,40,303,Telekom-iU1HVB,213,NaN,NaN,NaN,178.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,183.0,NaN,208,NaN,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,1564,147,Telekom-iU1HVB,202,NaN,167.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,171.0,180.0,NaN,198,NaN,NaN
175,1448,55,Telekom-iU1HVB,200,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,169.0,NaN,193,NaN,NaN
176,1560,59,Telekom-iU1HVB,202,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,180.0,NaN,NaN,189,NaN,180.0
177,1658,57,Telekom-iU1HVB,198,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,170.0,NaN,NaN,188,NaN,NaN
178,1762,56,Telekom-iU1HVB,201,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,NaN,NaN,185,NaN,NaN

In [4]:
data=data.drop(["iwconfig_essid", "iwconfig_level"], axis=1)

In [5]:
len(data.columns[2:])

63

In [6]:
added=[]
for index, column in enumerate(data):
    added.append([data.columns[index],data[column].mean()])
print(pd.DataFrame(added))

                0           1
0               x  902.536313
1               y  477.000000
2       @@@777@@@  170.692308
3            ASUS  168.363636
4             Amg  168.416667
..            ...         ...
60  Vodafone-8161  183.198582
61  Vodafone-8A74  170.222222
62  Vodafone-DDCD  195.899441
63           otto  169.800000
64         szilvi  182.338983

[65 rows x 2 columns]

In [7]:
data.count()

x                179
y                179
@@@777@@@         13
ASUS              11
Amg               12
                ...
Vodafone-8161    141
Vodafone-8A74      9
Vodafone-DDCD    179
otto               5
szilvi           118
Length: 65, dtype: int64

In [8]:
len(data)

179

In [9]:
added=[]
for index, row in enumerate(data.count()):
    added.append([data.columns[index],(len(data)+(row-len(data)))/len(data)])
print(pd.DataFrame(added, columns= ["name", "percentage"]))

             name  percentage
0               x    1.000000
1               y    1.000000
2       @@@777@@@    0.072626
3            ASUS    0.061453
4             Amg    0.067039
..            ...         ...
60  Vodafone-8161    0.787709
61  Vodafone-8A74    0.050279
62  Vodafone-DDCD    1.000000
63           otto    0.027933
64         szilvi    0.659218

[65 rows x 2 columns]

In [10]:
data.iloc[:, 24:]

,Telekom-T3OVsw,Telekom-XvgoOb,Telekom-ctbd3G,Telekom-hW7KSb,Telekom-iU1HVB,Telekom-tREcpF,UPC0016705,UPC0492771,UPC0908851,UPC1584560,...,UPCFFE85FC,Vodafone-14D8,Vodafone-25ED,Vodafone-7726,Vodafone-8142,Vodafone-8161,Vodafone-8A74,Vodafone-DDCD,otto,szilvi
index,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,192.0,NaN,210,NaN,186.0,NaN,NaN,NaN,...,NaN,176.0,NaN,NaN,167.0,185.0,NaN,200,NaN,189.0
1,NaN,NaN,NaN,NaN,190,NaN,197.0,174.0,NaN,NaN,...,184.0,NaN,NaN,NaN,NaN,177.0,NaN,197,NaN,181.0
2,NaN,NaN,NaN,NaN,218,NaN,204.0,NaN,173.0,NaN,...,NaN,NaN,NaN,NaN,NaN,185.0,NaN,191,NaN,190.0
3,NaN,NaN,NaN,NaN,201,NaN,194.0,NaN,NaN,NaN,...,NaN,NaN,NaN,174.0,NaN,190.0,NaN,198,NaN,179.0
4,NaN,NaN,NaN,NaN,210,NaN,196.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,183.0,NaN,208,NaN,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,NaN,NaN,NaN,NaN,203,NaN,184.0,NaN,NaN,173.0,...,NaN,NaN,NaN,NaN,171.0,180.0,NaN,198,NaN,NaN
175,NaN,NaN,NaN,NaN,193,NaN,173.0,NaN,NaN,174.0,...,NaN,NaN,NaN,NaN,NaN,169.0,NaN,193,NaN,NaN
176,NaN,NaN,NaN,NaN,194,165.0,188.0,NaN,171.0,NaN,...,NaN,NaN,NaN,NaN,180.0,NaN,NaN,189,NaN,180.0
177,NaN,NaN,NaN,181.0,196,NaN,179.0,NaN,NaN,167.0,...,NaN,NaN,NaN,NaN,170.0,NaN,NaN,188,NaN,NaN
178,NaN,NaN,NaN,NaN,192,170.0,187.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,NaN,NaN,185,NaN,NaN

In [11]:
a = []
for index, row in data.iloc[:,2:].iterrows():
    a.append(row.count())
print(np.array(a).mean())

13.782122905027933

In [12]:
data.iloc[:, 2:].describe()

,@@@777@@@,ASUS,Amg,DAISA,DAISA5GHZ,DIRECT-iR-BRAVIA,GYORFI,GYORFI-5GHz,HUAWEI P10,Murciline,...,UPCFFE85FC,Vodafone-14D8,Vodafone-25ED,Vodafone-7726,Vodafone-8142,Vodafone-8161,Vodafone-8A74,Vodafone-DDCD,otto,szilvi
count,13.000000,11.000000,12.000000,60.000000,13.000000,68.000000,39.000000,19.000000,10.000000,53.000000,...,24.000000,25.000000,7.000000,22.000000,55.000000,141.000000,9.000000,179.000000,5.000000,118.000000
mean,170.692308,168.363636,168.416667,170.583333,165.846154,192.808824,178.000000,174.578947,188.500000,173.301887,...,172.041667,171.240000,168.428571,173.500000,174.000000,183.198582,170.222222,195.899441,169.800000,182.338983
std,4.888500,3.170890,2.574643,3.792462,2.544476,5.111466,4.690416,4.857020,8.847473,4.753885,...,5.714050,3.320141,4.035556,4.317738,5.741338,6.602186,3.153481,8.306688,3.563706,7.192375
min,166.000000,165.000000,166.000000,165.000000,162.000000,181.000000,168.000000,166.000000,174.000000,165.000000,...,164.000000,166.000000,165.000000,166.000000,166.000000,168.000000,165.000000,178.000000,167.000000,165.000000
25%,168.000000,166.500000,166.000000,168.000000,163.000000,190.000000,175.500000,171.000000,183.000000,170.000000,...,168.000000,169.000000,166.500000,170.000000,170.000000,178.000000,168.000000,190.500000,168.000000,178.000000
50%,169.000000,168.000000,168.000000,171.000000,166.000000,192.500000,178.000000,175.000000,191.000000,173.000000,...,170.500000,171.000000,168.000000,173.000000,173.000000,184.000000,170.000000,195.000000,169.000000,181.500000
75%,172.000000,169.500000,169.250000,172.250000,167.000000,196.000000,180.500000,178.000000,194.750000,176.000000,...,174.250000,172.000000,168.000000,177.750000,177.000000,188.000000,172.000000,202.000000,169.000000,187.000000
max,183.000000,176.000000,174.000000,183.000000,171.000000,205.000000,191.000000,185.000000,198.000000,192.000000,...,185.000000,180.000000,177.000000,181.000000,190.000000,199.000000,175.000000,218.000000,176.000000,199.000000

1876 width
1015 height

In [13]:
data.iloc[:, 2:4]

       @@@777@@@   ASUS
index
0          177.0    NaN
1          183.0    NaN
2            NaN    NaN
3            NaN    NaN
4            NaN    NaN
...          ...    ...
174          NaN  167.0
175          NaN    NaN
176          NaN    NaN
177          NaN    NaN
178          NaN    NaN

[179 rows x 2 columns]

In [17]:
data['x']

index
0        48
1        41
2        41
3        40
4        40
       ...
174    1564
175    1448
176    1560
177    1658
178    1762
Name: x, Length: 179, dtype: int64

7.6 x 1876
4.6 y 1015

In [18]:
def calculate_positon(px, py):
    x_m= 1876/7.6
    y_m= 1015 /4.7
    return px / x_m, py / y_m

In [19]:
data.to_csv('house_RSSI_measurements.csv')

In [20]:
data_meters= data.copy()
data_meters['x'], data_meters['y']=calculate_positon(data['x'], data['y'])
data_meters.to_csv('house_RSSI_measurements_only_meters.csv')

In [21]:
data_meters

,x,y,@@@777@@@,ASUS,Amg,DAISA,DAISA5GHZ,DIRECT-iR-BRAVIA,GYORFI,GYORFI-5GHz,...,UPCFFE85FC,Vodafone-14D8,Vodafone-25ED,Vodafone-7726,Vodafone-8142,Vodafone-8161,Vodafone-8A74,Vodafone-DDCD,otto,szilvi
index,,,,,,,,,,,,,,,,,,,,,
0,0.194456,0.087980,177.0,NaN,NaN,NaN,NaN,NaN,185.0,NaN,...,NaN,176.0,NaN,NaN,167.0,185.0,NaN,200,NaN,189.0
1,0.166098,0.379704,183.0,NaN,NaN,NaN,NaN,NaN,186.0,175.0,...,184.0,NaN,NaN,NaN,NaN,177.0,NaN,197,NaN,181.0
2,0.166098,0.652906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,185.0,NaN,191,NaN,190.0
3,0.162047,0.949261,NaN,NaN,NaN,179.0,168.0,NaN,NaN,NaN,...,NaN,NaN,NaN,174.0,NaN,190.0,NaN,198,NaN,179.0
4,0.162047,1.403054,NaN,NaN,NaN,178.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,183.0,NaN,208,NaN,198.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,6.336034,0.680690,NaN,167.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,171.0,180.0,NaN,198,NaN,NaN
175,5.866098,0.254680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,169.0,NaN,193,NaN,NaN
176,6.319829,0.273202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,180.0,NaN,NaN,189,NaN,180.0
177,6.716844,0.263941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,170.0,NaN,NaN,188,NaN,NaN
178,7.138166,0.259310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,183.0,NaN,NaN,185,NaN,NaN

In [22]:
(data['x_m'], data['y_m']) =calculate_positon(data['x'], data['y'])

In [23]:
data['x'].values, data['y'].values

(array([  48,   41,   41,   40,   40,   37,   33,   38,   38,   40,   33,
         137,  135,  135,  139,  144,  143,   32,  141,  146,  148,  139,
         146,  147,  282,  277,  273,  274,  274,  272,  269,  263,  255,
         242,  231,  357,  360,  360,  369,  367,  370,  389,  394,  391,
         389,  391,  514,  502,  507,  504,  504,  499,  490,  486,  477,
         476,  475,  589,  589,  589,  588,  588,  595,  588,  592,  611,
         602,  599,  716,  713,  708,  710,  702,  698,  694,  695,  692,
         685,  676,  811,  808,  810,  812,  808,  965, 1089,  809,  808,
         820,  827,  826,  824,  964,  971,  966,  969,  970,  973, 1094,
        1094, 1095, 1090, 1088, 1084, 1218, 1334, 1459, 1566, 1677, 1771,
        1765, 1672, 1568, 1448, 1325, 1212, 1148, 1213, 1329, 1444, 1570,
        1145, 1209, 1324, 1440, 1574, 1668, 1759, 1657, 1755, 1149, 1214,
        1330, 1443, 1582, 1670, 1766, 1146, 1147, 1210, 1330, 1435, 1579,
        1671, 1767, 1770, 1677, 1579, 1434, 1334, 1222, 1456, 1334, 1222,
        1141, 1454, 1329, 1218, 1669, 1773, 1145, 1144, 1142, 1220, 1577,
        1676, 1774, 1771, 1670, 1575, 1331, 1214, 1334, 1450, 1564, 1448,
        1560, 1658, 1762]),
 array([ 19,  82, 141, 205, 303, 407, 508, 629, 728, 866, 959, 958, 857,
        729, 639, 531, 594, 582, 415, 326, 178, 239,  89,  24,  16,  85,
        159, 244, 351, 458, 588, 710, 828, 909, 965, 957, 903, 819, 704,
        605, 502, 394, 249, 153,  71,  12,  13,  67, 150, 251, 377, 496,
        601, 704, 821, 893, 962, 961, 880, 788, 687, 574, 490, 377, 255,
        147,  59,   7,  13,  79, 163, 257, 375, 480, 574, 675, 779, 885,
        961, 958, 877, 793, 670, 561, 558, 567, 465, 349, 255, 144,  74,
         13,  18,  85, 151, 251, 360, 459,  21,  92, 158, 256, 357, 448,
        451, 449, 444, 445, 444, 439, 525, 518, 537, 537, 533, 529, 611,
        609, 616, 612, 614, 676, 678, 694, 685, 690, 609, 607, 697, 689,
        785, 778, 783, 769, 797, 804, 803, 872, 953, 873, 874, 875, 888,
        891, 893, 962, 961, 966, 957, 961, 956, 353, 355, 356, 360, 260,
        249, 251, 154, 148, 253, 155,  58, 162, 352, 304, 307, 248, 243,
        235, 165,  55,  56, 160, 147,  55,  59,  57,  56]))

In [24]:
data.to_csv('house_RSSI_measurements_with_meters.csv')

colormap = 'plasma'
fig = plt.figure(figsize=(20,20))

ax2 = plt.subplot(1, 4, 3, aspect='equal')
ax2.imshow(np.squeeze(img), alpha = 0.5, cmap='plasma')
hm = ax2.imshow(heatmap, alpha = 0.5)

In [25]:
def heatmap_over_image(image, data, ap_name):
    fig, ax = plt.subplots()
    ax.imshow(image)
    
    plt.scatter(x=data['x'].values, y=data['y'].values, c=data[ap_name].values, cmap='gray')
    plt.title('House Position WiFi RSSI Levels')
    plt.xlabel("x position")
    plt.ylabel("y position")
    plt.savefig("house_wifi_"+ap_name+".png")

In [26]:
image = plt.imread("wifi_test_grey.PNG")
ap_name="Telekom-iU1HVB"
heatmap_over_image(image, data, ap_name)

In [27]:
def save_all_images(image, data):
    for ap_name in data.columns[2:-2]:
        heatmap_over_image(image, data, ap_name)

In [28]:
save_all_images(image,data)

<ipython-input-25-9068441e6059>:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig, ax = plt.subplots()

In [29]:
import seaborn as sns

In [30]:
data.columns

Index(['x', 'y', '@@@777@@@', 'ASUS', 'Amg', 'DAISA', 'DAISA5GHZ',
       'DIRECT-iR-BRAVIA', 'GYORFI', 'GYORFI-5GHz', 'HUAWEI P10', 'Murciline',
       'TEK megfigyelő', 'TEK megfigyelő 2.4', 'Telekom-59EB57',
       'Telekom-8luQUU', 'Telekom-AmfxAb', 'Telekom-Bo7KON', 'Telekom-CEGmQQ',
       'Telekom-CEGmQQ 5GHz', 'Telekom-Eh4auM', 'Telekom-Lm8gPs',
       'Telekom-PObcOU', 'Telekom-RD1x97', 'Telekom-T3OVsw', 'Telekom-XvgoOb',
       'Telekom-ctbd3G', 'Telekom-hW7KSb', 'Telekom-iU1HVB', 'Telekom-tREcpF',
       'UPC0016705', 'UPC0492771', 'UPC0908851', 'UPC1584560', 'UPC1794824',
       'UPC2058306', 'UPC3736069', 'UPC3956209', 'UPC4587269', 'UPC4592126',
       'UPC4701690', 'UPC64471C2', 'UPC6455441', 'UPC6669582', 'UPC7817040',
       'UPC7EDEA9C', 'UPC8369359', 'UPC8783675', 'UPC8C5183A', 'UPC9034261',
       'UPC9471254', 'UPC9519730', 'UPC99A3E9F', 'UPCC4549BC', 'UPCEAF15EF',
       'UPCFFE85FC', 'Vodafone-14D8', 'Vodafone-25ED', 'Vodafone-7726',
       'Vodafone-8142', 'Vodafone-8161', 'Vodafone-8A74', 'Vodafone-DDCD',
       'otto', 'szilvi', 'x_m', 'y_m'],
      dtype='object')

In [31]:
df_melted_m= pd.melt(data, id_vars=["x_m", "y_m"], value_vars=data.columns[2:-2])

In [32]:
df_melted = pd.melt(data, id_vars=["x", "y"], value_vars=data.columns[2:-2])

In [33]:
df_melted.to_csv("house_RSSI_melted.csv")

In [34]:
df_melted

          x    y   variable  value
0        48   19  @@@777@@@  177.0
1        41   82  @@@777@@@  183.0
2        41  141  @@@777@@@    NaN
3        40  205  @@@777@@@    NaN
4        40  303  @@@777@@@    NaN
...     ...  ...        ...    ...
11272  1564  147     szilvi    NaN
11273  1448   55     szilvi    NaN
11274  1560   59     szilvi  180.0
11275  1658   57     szilvi    NaN
11276  1762   56     szilvi    NaN

[11277 rows x 4 columns]

In [35]:
df_melted_m.to_csv("house_RSSI_meters_melted.csv")